<!-- <button mat-button (click)="openDialog()">Open dialog</button>
<button mat-button (click)="openDialog()">Open dialog</button> -->
<!-- 
<label class="lblColor">Hello World</label>

<input #name type="text" placeholder="Enter Your Name">
<button (click)="sendData(name.value)">Click Me</button> -->
<!-- 
<input #num1 type="number" placeholder="Enter First no">
<input #num2 type="number" placeholder="Enter Second no">

<button class="btnColor" (click)="addValue(num1.value,num2.value)" >Add</button>
Result{{result}} -->
<!-- <app-header></app-header>
<app-register></app-register> -->
<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
  <app-team></app-team>
